*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: 0;
}
.medsos{
	padding: 5px 0;
	background-color: #1F2FB7 ;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content:'';
	display: block;
	clear: both;
}

header h1{
	float: left;
	padding: 15px 0;
	color: #1F2FB7 ;
}
header ul{
	float:right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li :hover{
	background-color: #1F2FB7 ;
	color: #fff;
}
.active{
	background-color: #1F2FB7 ;
	color: #fff;
}

.banner after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #1F2FB7 ;
}
.banner{
	background-color: #1F2FB7 ;
	padding: 150px 0;
}
.banner img{
	width: 100px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
}
.banner h2,
.banner p{
	color: #fff;
}
banner h2{
	margin: 10px;
}
banner p{
	font-size: 18px;
}

section{
	padding: 50px 0;
}
section h3{
	padding-bottom: 20px;
	text-align: center;
	margin: 20px;
	position: relative;
}
section h3::before{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after{
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	width: 40px;
	height: 4px;
	background-color: #B71F34;
	left: calc(50% - 20px);
}
#about p{
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;
}
#contact{
	background-color: #f9f9f9;
}
.col-3{
	width: 33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 10px;
}
.col-3 h4{
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
footer{
	background-color: #333;
	padding: 50px;
	text-align: center;
}
footer small{
	color: #fff;
}
.service{
	padding-bottom: 100px;
}
.box{
	color: #1F2FB7;
}
.box .col-4{
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.box .col-4 h4{
	margin: 20px 0;
}